body {
    background-color: aqua;
}

.container {
    width: 1200px;
    margin: 0px auto;
}

.header {
    position: relative;
}

.content_h>i {
    color: red;
}

.content_h {
    color: rgb(36, 214, 48);
    position: absolute;
    top: 300px;
    font-size: 30px;
    left: 400px;
}

.img_be {
    position: absolute;
    top: 310px;
    left: 530px;
}


/* == lời chúc== */

.wish {
    position: absolute;
    top: 25px;
    left: 45px;
}

.wish>button {
    border-radius: 5px;
    background-color: pink;
    border: none;
}

.wish>button>a {
    text-decoration: none;
    font-size: 16px;
    padding: 15px;
    color: rgb(205, 255, 208);
}


/* ==chọn quà== */

.gift {
    position: absolute;
    top: 25px;
    right: 45px;
}

.gift>button {
    border-radius: 5px;
    background-color: pink;
    border: none;
}

.gift>button>a {
    text-decoration: none;
    font-size: 16px;
    padding: 15px;
    color: rgb(205, 255, 208);
}